body {
background-color: #FFE4E1;
}

header {
  height: 60px;
  margin: 10px;
}

nav {
  margin: 10px;
}

nav ul{
  list-style: none;
  text-align: center;
  border-top: 1px solid #F08080;
  border-bottom: 1px solid #F08080;
  padding: 10px 0px;
}

nav ul li {
  display: inline;
  padding: 0px 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

aside#left {
  width: 175px;
  margin: 20px;
  float: left;
}


#left ul{
  color: #ffffff;
  list-style: none;
  text-indent: 15px;
}

#left ul li {
  background-color: #F08080;
  line-height: 28px;
  border-bottom: 1px solid ##3f3f3f;
}

#left ul li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

#left ul li:hover {
  background-color: #d40203;
}

#left ul li#active {
  background-color: #d40203;
}

#main {
  font-size: 18px;
  overflow: auto;
  float: left;
  width: 1200px;
  margin: 30px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  border: 1px solid red;
}

article{
  margin: 30px;
  width: 350px;
  height: 200px;
  text-align: center;
}
